<!-- START SIGMA IMPORTS -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="sigma.js-master/src/sigma.core.js"></script>
<script src="sigma.js-master/src/conrad.js"></script>
<script src="sigma.js-master/src/utils/sigma.utils.js"></script>
<script src="sigma.js-master/src/utils/sigma.polyfills.js"></script>
<script src="sigma.js-master/src/sigma.settings.js"></script>
<script src="sigma.js-master/src/classes/sigma.classes.dispatcher.js"></script>
<script src="sigma.js-master/src/classes/sigma.classes.configurable.js"></script>
<script src="sigma.js-master/src/classes/sigma.classes.graph.js"></script>
<script src="sigma.js-master/src/classes/sigma.classes.camera.js"></script>
<script src="sigma.js-master/src/classes/sigma.classes.quad.js"></script>
<script src="sigma.js-master/src/captors/sigma.captors.mouse.js"></script>
<script src="sigma.js-master/src/captors/sigma.captors.touch.js"></script>
<script src="sigma.js-master/src/renderers/sigma.renderers.canvas.js"></script>
<script src="sigma.js-master/src/renderers/sigma.renderers.webgl.js"></script>
<script src="sigma.js-master/src/renderers/sigma.renderers.def.js"></script>
<script src="sigma.js-master/src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
<script src="sigma.js-master/src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
<script src="sigma.js-master/src/renderers/webgl/sigma.webgl.edges.def.js"></script>
<script src="sigma.js-master/src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
<script src="sigma.js-master/src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
<script src="sigma.js-master/src/renderers/canvas/sigma.canvas.labels.def.js"></script>
<script src="sigma.js-master/src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
<script src="sigma.js-master/src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
<script src="sigma.js-master/src/renderers/canvas/sigma.canvas.edges.def.js"></script>
<script src="sigma.js-master/src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="sigma.js-master/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
<script src="sigma.js-master/src/middlewares/sigma.middlewares.rescale.js"></script>
<script src="sigma.js-master/src/middlewares/sigma.middlewares.copy.js"></script>
<script src="sigma.js-master/src/misc/sigma.misc.animation.js"></script>
<script src="sigma.js-master/src/misc/sigma.misc.bindEvents.js"></script>
<script src="sigma.js-master/src/misc/sigma.misc.drawHovers.js"></script>
<!-- END SIGMA IMPORTS -->

<!-- BOOTSTRAP -->
<link href="bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">

<script src="sigma.js-master/plugins/sigma.parsers.json/sigma.parsers.json.js"></script>
<script src="sigma.js-master/plugins/sigma.layout.forceAtlas2/sigma.layout.forceAtlas2.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
<script src="main.js"></script>

<div class = "container-fluid">

<div id="container" class="row">
  <style>
    #graph-container {
		width: 65%;
		height: 100%;

    }
    #menudiv {
    	max-width: 200px;
    	margin-top: 100px;
    }

    #info-container {
		max-width: 200px;
    	margin-top: 100px;
    	margin-right: 0;
    	margin-left: 80%;
    	position: absolute;
    }
  </style>
<div id="menudiv" class="col-lg-2">
  
  <input class"btn btn-group-vertical btn-sm" id="stopforce" type="button" value="StopForceAtlas"/><br/>
  <input class"btn btn-group-vertical btn-sm" id="next" type = "button" value="Next"/><br/>
  <input class"btn btn-group-vertical btn-sm" id="previous" type="button" value="Previous" /><br/>
  <button class"btn btn-group-vertical btn-sm">Send an HTTP GET</button><br/>
  Search a BManName: <br/>
  <input type="text" id="id" placeholder="businessMan name"> <button id="searchName" class"btn btn-sm">Search</button><br/>
  Search by Location: <br/>
  <input type="text" id="" placeholder="Location"><br>
  Search by Year: <br/>
  <input type="text" id="" placeholder="2001-2014"><br>
  Search by CAEN Number: <br/>
  <input type="text" id="" placeholder="CAEN Number"><br>

  </div>
  

  <div id="graph-container" class="col-lg-6"> </div>
  <div id="info-container" class="col-lg-2">
  	<p id="nrnodes"> </p>
  	<p id="nredges"> </p>
  	

  </div>
</div>
</div>
<script>
	$(document).ready(function(){
		main();
	});

</script>
